<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style (2).css">
</head>
<body>
    <div class="showcase">
        <div class="video-container">
             <video src="pexels_videos_2096553 (1080p).mp4" autoplay muted loop id="myVideo"></video>
        </div>
    </div>
    <div class="login-box">
        <h2>Don't have an account ? <br>Sign Up Here !</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Firstname</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Lastname</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Phonenumber</label>
            </div>
            <div class="user-box">
                <input type="email" name="" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
            </div>

            <div class="user-box">
                <input type="password" name="" required="">
                <label>Confirm Password</label>
            </div>
            
            <a href="index.html">Submit</a>
        </form>
    </div>
</body>
</html>